@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'popins';
    src: url('./fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  